.chat-client {
  width: 20%;
  height: 300px;  
  /* border-radius: 2%; */
  padding: 0;
  /* box-shadow: 1px 1px 3px #888888; */
}
.chat-header {
  width: 100%;
  height: 40px;  
  background: #3CB371;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  text-align: center;
  border-radius: 2% 2% 0 0;
}

.chat-header p {
  margin: 0;
}

.chat-box {
  width: 100%;
  height: 74%;
  background: #eeeeee;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.9em;
  border: none;
}

.input-chat {
  width: 74%;
  border-radius: 30px 30px 30px 30px;
  outline: none;
  font-size: 1em;
  border: 0.9px solid #3cb371;
  padding: 5px;
  font-size: 10px;
  float: left;
}

.btn-send {
  width: 20%;
  color: #3CB371;
  font-size: 1em;
  border: none;
  background: #fff;
  border-radius: 2px;
  padding-bottom: 15px;
  padding-left: 0;
}

.user-chat {
  width: 80%;
  background: gray;
  padding: 10px;
  float: right;
  text-align: right;
  margin: 0;
  color: #fff;
  border-radius: 50px;
  margin-bottom: 10px;
}

.bot-chat {
  width: 80%;
  padding: 10px;
  float: left;
  margin: 0;
  background: SteelBlue;
  border-radius: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.btn-close-chat {
  border-radius: 50%;
  color: #fff;
  padding: 10px;
  background: #3CB371;
  border: none;
  margin: 10px;
  font-size: 1.5em;
  transform: translateY(75%);
}

.btn-open-chat {
  color: #fff;
  background: #3CB371;
  border: none;
  margin: 10px;
  padding: 10px;
}
